*{
    margin: 0;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #ccc;
    color: #fff;
}
.hero{
    height: 500px;
    background-image: url(bg-3.jpg);
    background-position: right center;
    background-size: cover;
    
}
.hero-content{
    text-align: center;
    margin-top: 150px;
}
.hero-content h1{
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    margin: 10px;
    border: 1px solid white;




}

nav ul{
    text-align: right;
    margin-right: 20px;
    

}
nav a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.3);
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.5);

}


main{
    width: 80%;
    margin: auto;
}



.content-section{
    background-color: #fff;
    color: black;
    margin-top: 15px;
    padding: 15px;
    overflow: auto;    
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;

}
.card img {
    width: 100%;
    display: block;

}
.card-1,.card-2{
    margin-right: 2%;
}
.card p{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

}



.content-header {
    border-bottom: solid 2px #ccc;
    padding: 10px;
    background: #eee;}
.content-header h2{
    margin: 0;
}
.fp{
    margin:15px;
}
.rodape{
    margin-top: 15px;
    height: 80px;
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 80px;
}